query
subject
*.fasta
*.fa
*.pyc
*venv*
test
tmp/*.tmp
dev/
.idea/
.DS_Store
extras/.ipynb_checkpoints
*.ipynb_checkpoints*
results/*
!results/.gitkeep 
.vscode
vsearch-*/
nohup.out
extras/
*_db
*.png*