query
subject
*.fasta
*.fa
*.pyc
*venv*
test
tmp/*.tmp
dev/
extras/
.DS_Store
extras/.ipynb_checkpoints
*.ipynb_checkpoints*
results/*
!results/.gitkeep 
.vscode
cdhit/
vsearch-*/
nohup.out
extras/data/
*_db
*.png*